#animation {
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  transition: all 4s ease; }

#navbar-main {
  position: fixed;
  z-index: 100;
}

.shadow {
  background-color: #127238;
  border: none;
  opacity: 0.95;

  a {
    color: black !important;
  }

  li.active a {
    color: #ffd700 !important;
  }
}

.navbar {
  margin-bottom: 0px !important;
  position: inherit;
}

.no_show {
  display: none !important;
}

.scene {
  overflow: hidden;
}

#about {
  ul {
    padding: 0px;
  }

  li {
    list-style-type: none;
  }
}
