.divider1 {
  min-height: 20em;
}

.skills {
  border: 0.1px solid black;
  height: auto;
  min-height: 10em;
  padding: 0 0 0 0;
  text-align: center;
}

#angular img {
  width: 75%
}

#html5 img {
  width: 37%;
}

#drupal img {
  width: 37%;
}

#mysql img {
  width: 42%;
}

#node img {
  width: 75%;
}

#python img {
  width: 22%;
}
